set -s escape-time 0

unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

bind-key / copy-mode \; send-key ?

# vim-like pane switching
bind -r ^ last-window
bind -r k select-pane -U
bind -r j select-pane -D
bind -r h select-pane -L
bind -r l select-pane -R

bind c new-window -c "#{pane_current_path}"

# Enable mouse mode (tmux 2.1 and above)
set -g mouse on

#
set -g status off
# Toggle the status bar
bind -r t set-option status
set-option -g status-position bottom

# reload config file (change file location to your the tmux.conf you want to use)
bind r source-file ~/.tmux.conf

bind , resize-pane -L 20
bind . resize-pane -R 20

# theme
# default statusbar color
set-option -g status-style bg='#191725',fg=colour223 # bg=bg1, fg=fg1

# default window title colors
set-window-option -g window-status-style bg=colour214,fg=colour237 # bg=yellow, fg=bg1

# default window with an activity alert
set-window-option -g window-status-activity-style bg=colour237,fg=colour248 # bg=bg1, fg=fg3

# active window title colors
set-window-option -g window-status-current-style bg=red,fg=colour237 # fg=bg1

# pane border
set-option -g pane-active-border-style fg=colour250 #fg2
set-option -g pane-border-style fg=colour237 #bg1

# message infos
set-option -g message-style bg=colour239,fg=colour223 # bg=bg2, fg=fg1

# writing commands inactive
set-option -g message-command-style bg=colour239,fg=colour223 # bg=fg3, fg=bg1

# pane number display
set-option -g display-panes-active-colour colour250 #fg2
set-option -g display-panes-colour colour237 #bg1

# clock
set-window-option -g clock-mode-colour colour109 #blue

# bell
set-window-option -g window-status-bell-style bg=colour167,fg=colour235 # bg=red, fg=bg

## Theme settings mixed with colors (unfortunately, but there is no cleaner way)
set-option -g status-justify "left"
set-option -g status-left-style none
set-option -g status-left-length "80"
set-option -g status-right-style none
set-option -g status-right-length "80"
set-window-option -g window-status-separator ""

set-option -g status-left "#[bg=#26233a,fg=#e0def4] #S #[bg=#191724,fg=#26233a,nobold,noitalics,nounderscore]"
set-option -g status-right "#[bg=#191724,fg=#26233a nobold, nounderscore, noitalics]#[bg=#26233a,fg=#e0def4] %Y-%m-%d • %H:%M #[bg=#26233a,fg=#31748f,nobold,noitalics,nounderscore]#[bg=#31748f,fg=#e0def4] #h "

set-window-option -g window-status-current-format "#[bg=#31748f,fg=#191724,nobold,noitalics,nounderscore]#[bg=#31748f,fg=#e0def4] #I •#[bg=#31748f,fg=#e0def4,bold] #W#{?window_zoomed_flag,*Z,} #[bg=#191724,fg=#31748f,nobold,noitalics,nounderscore]"
set-window-option -g window-status-format "#[bg=#26233a,fg=#191724,noitalics]#[bg=#26233a,fg=#e0def4] #I •#[bg=#26233a,fg=#e0def4] #W #[bg=#191724,fg=#26233a,noitalics]"

# vim: set ft=tmux tw=0 nowrap:

